/** Invite Box **/
.invite-message {
	color: #666666;
	font-size: 1.1em;
	margin: 5px 0px 5px 0px;
}

.invite-links {
	margin: 0px 0px 10px 0px;
	font-weight: bold;
}

.invite-links a {
	text-decoration: none;
}

.invite-form-button {
	background-color: #78BA5D;
	border: 1px solid #285C98;
	margin: 10px 0px 0px 0px;
	color: #FFFFFF;
	font-size: 1.0em;
	font-weight: bold;
}

/** Invite Email **/
.invite-email-title {
	color: #FFD242;
	font-size: 1.2em;
	font-weight: bold;
}

.invite-form-enter-email {
	float: left;
	margin: 0px 30px 0px 0px;
}

.invite-email-submessage {
	color: #666666;
	font-size: 1.05em;
}

.email-to {
	float: left;
}

.invite-email-content {
	float: left;
}

.email-field {
	font-weight: 800;
	font-size: 13px;
	color: #666666;
	padding-bottom: 0px;
}

.email-field textarea {
	overflow-x: hidden;
	overflow-y: auto;
}

.email-field input {
	width: 350px;
}

.invite-title {
	font-size: 15px;
	padding-bottom: 5px;
}

.profile-on {
	background-color: #FFFB9B;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
}

form[name="email"] {
	margin: 0px;
}

div.invite-skip-link {
	margin-top: 10px;
}

div.invite-skip-link a {
	font-size: 10px;
}

/**
 * Prevent the "Subject" and "Email body" fields from overflowing on mobile
 * @see https://phabricator.wikimedia.org/T156481
 */
.email-field #subject {
	max-width: 91%;
}

.email-field #body {
	max-width: 93%;
}